<template>
  <div>
    <i-row center>
      <i-column xs="8">
        <i-card class="_margin-top-8" variant="dark">
          <template slot="header">R0N1n</template>
          <p>
            The story of the digital ronin continues and the revolution shall be
            deployed
          </p>
          <template slot="footer">The story shall continue still trying to continue</template>
        </i-card>
      </i-column>
    </i-row>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
