<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <i-row center>
      <i-column md="3" xs="8" class="_margin-top-1">
        <i-form>
          <i-form-group>
            <i-form-label class="_font-weight-bold">Food search</i-form-label>
            <i-input v-model="query" placeholder="Type something.." />
          </i-form-group>
          <i-button
            variant="secondary"
            class="_margin-top-1"
            @click="getFoodData"
            ><i-icon icon="star-full" class="_margin-right-1-2"></i-icon
            >Food</i-button
          >
        </i-form>
      </i-column>
    </i-row>
    <div v-if="foodData">
      {{ foodData.text }}
      
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data: () => ({
    foodData: [],
    query: ""
  }),
  methods: {
    setData(data) {
      this.foodData = data;
    },
    getFoodData() {
      fetch(
        `https://api.edamam.com/api/food-database/v2/parser?app_id=6cfab306&app_key=%20eabb732de16fe467937a9b7d423676f0%09&ingr=${this.query}&nutrition-type=cooking`
      )
        .then(res => res.json())
        //.then(data => {console.dir(data)})
        .then(this.setData);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
