<template>
  <i-navbar>
    <i-navbar-brand>
      <h4>R0ZEs</h4>
    </i-navbar-brand>
    <i-navbar-items>
      <i-nav>
        <i-nav-item>
          <i-button variant="dark">
            <v-icon name="home" style="margin-right: 5px"></v-icon>Home
          </i-button>
        </i-nav-item>
        <i-nav-item>
          <i-button variant="secondary">
            <v-icon name="comment-dollar" style="margin-right: 5px"></v-icon>About
          </i-button>
        </i-nav-item>
      </i-nav>
      <!-- <i-nav>
        <div class="dark">
          <i-button @click="toggleDarkMode">
            <i-icon icon="light" /> Dark Mode
          </i-button>
        </div>
      </i-nav>-->
    </i-navbar-items>
  </i-navbar>
</template>

<script>
export default {
  methods: {
    /*toggleDarkMode() {
      this.$inkline.config.variant =
        this.$inkline.config.variant === "light" ? "dark" : "light";
    },*/
  },
};
</script>

<style>
</style>