<template>
  <div id="app">
    <div class="upBtn _margin-top-2" v-if="updateExists" style="width: 50vw">
      <i-alert dismissible :show="visible" variant="info">
        <template slot="icon">
          <i-icon icon="info"></i-icon>
        </template>
        <h6>New Update available</h6>
        <i-button variant="secondary" @click="refreshApp">
          Refresh
        </i-button>
      </i-alert>
    </div>
    <div class="navbar ">
      <TheNavbar />
    </div>

    <TheHeader class="_margin-top-1" />
    <!--<div id="edamam-badge" data-color="white" class="_margin-top-3"></div>-->
  </div>
</template>

<script>
import TheHeader from "./components/TheHeader.vue";
import TheNavbar from "./components/TheNavbar.vue";
export default {
  name: "App",
  components: { TheNavbar, TheHeader },
  data() {
    return {
      refreshing: false,
      registration: null,
      updateExists: false,
      visible: false,
    };
  },
  methods: {
    showRefreshUI(e) {
      this.registration = e.detail;
      this.updateExists = true;
      this.visible = true;
    },
    refreshApp() {
      this.updateExists = false;
      if (!this.registration || !this.registration.waiting) {
        return;
      }
      this.registration.waiting.postMessage("skipWaiting");
    },
  },
  created() {
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    if (navigator.serviceWorker) {
      navigator.serviceWorker.addEventListener("controllerchange", () => {
        if (this.refreshing) return;
        this.refreshing = true;
        window.location.reload();
      });
    }
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}
</style>
